.modal {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 559px;
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.modal_open {
  visibility: visible;
  opacity: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__title {
  color: pink;
  /* Style your title here */
}

.modal__input {
  box-sizing: border-box;
  width: 400px;
  height: 60px;
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  border-radius: 30px;
  margin-bottom: 20px;
}

.modal__button-submit {
  color: gren;
  /* Style your submit button here */
}

.modal__button-submit-valid {
  color: blue;
  /* Add additional styles for a valid submit button here */
}