.modal-overlay {
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.modal-overlay_open,
.modal_open {
  visibility: visible;
  opacity: 1;
}

.modal {
  box-sizing: border-box;
  max-width: 430px;
  max-height: 458px;
  width: 80%;
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  border-radius: 16px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  position: relative;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.modal__input {
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-bottom: 1px solid #000000;
  background: transparent;
  margin-bottom: 30px;
  padding: 5px;
}

.modal__input::placeholder {
  color: #000000;
  opacity: 0.5;
}

.modal__button-submit {
  margin-top: 25px;
  width: 100%;
  height: 64px;
  border-radius: 50px;
  background-color: black;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__button-submit_disabled {
  background-color: #E6E8EB;
  cursor: not-allowed;
  color: gray;
}

.modal__button-close {
  position: absolute;
  top: -30px;
  right: -30px;
  background: url('../images/Cross.svg') center no-repeat;
  width: 24px;
  height: 23px;
  border: none;
}

.modal__alternative {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  color: #2F71E5;
  cursor: pointer;
}

.modal__label,
.modal__error-message {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.modal__label {
  color: #2F71E5;
  margin-bottom: 5px;
}

.modal__error-message {
  color: #FF0000;
  text-align: center;
  width: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.modal__success {
  width: 315px;
  height: 400px;
  /* height adjusted considering the contents */
  padding: 20px;
  background-color: #fff;
  color: #000;
  text-align: left;
  border-radius: 8px;
  position: absolute;
  top: 322px;
  left: 541px;
}

.modal__success h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #000;
}

.modal__success p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2F71E5;
  /* This is a blue color, adjust as necessary */
  cursor: pointer;
  text-decoration: underline;
}

.modal__success span.modal__alternative-action {
  cursor: pointer;
}

.modal__alternative-or {
  color: black;
  margin-right: 5px;
}