.saved-news-header {
  max-width: 1440px;

}

.saved__title {
  font-family: 'Roboto Slab', 'Arial', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
}

.saved__header {
  font-family: 'Roboto Slab', 'Arial', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
}

.saved__words {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}

.saved__bold {
  font-weight: 700;
}

.news-card-list-wrapper {
  max-width: 1440px;
  background-color: #F5F6F7;
  padding: 20px;
}

.news-card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

@media screen and (max-width: 525px) {
  .saved__title {
    font-size: 12px;
    color: rgba(26, 27, 34, 0.5);
  }

  .saved__header {
    font-size: 30px;
  }
}