.saved-news__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 40px 40px;
}

.saved-news-header {
  max-width: 1440px;
}

.saved__title {
  font-family: 'Roboto', 'Arial', serif;
  color: rgba(26, 27, 34, 0.50);
  font-size: 18px;
  line-height: 24px;
}

.saved__header {
  font-family: 'Roboto Slab', 'Arial', sans-serif;
  font-weight: 400;
  color: var(--main-primary, #1A1B22);
  font-size: 40px;
  line-height: 46px;
}

.saved__keywords {
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #1A1B22;
  font-size: 18px;
  line-height: 24px;
}

.saved__bold {
  font-weight: 700;
}

.news-card-list-wrapper {
  max-width: 1440px;
  background-color: #F5F6F7;
  padding-top: 35px;
}

.news-card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
}

@media screen and (max-width: 768px) {
  .saved-news__container {
    padding: 40px 30px 40px;
    height: 204px;
  }

  .saved__header {
    font-size: 30px;
    width: 336px;
    color: #1A1B22;
    font-family: 'Roboto Slab', 'Arial', sans-serif;
    line-height: 34px;
    flex-direction: column;

  }

  .saved__title {
    color: rgba(26, 27, 34, 0.50);
    font-size: 14px;
    font-family: Roboto;
    line-height: 24px;
    display: flex;
    width: 712px;
    height: 24px;
    flex-direction: column;
  }

  .saved__keywords {
    width: 712px;
    height: 24px;
    color: #1A1B22;
    font-size: 18px;
    font-family: Roboto;
    line-height: 24px;
  }
}

@media screen and (max-width: 320px) {
  .saved-news__container {
    padding: 12px;
  }

  .saved__title {
    display: flex;
    width: 288px;
    height: 24px;
    flex-direction: column;
    color: rgba(26, 27, 34, 0.50);
    font-size: 12px;
    font-family: Roboto;
    line-height: 24px;
  }

  .saved__header {
    display: flex;
    width: 288px;
    flex-direction: column;
    flex-shrink: 0;
    font-size: 30px;
    line-height: 34px;
    margin-top: 5px;

  }

  .saved__keywords {
    display: flex;
    width: 288px;
    height: 48px;
    flex-direction: column;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    color: #1A1B22;

  }

  .saved-news__container {
    margin-bottom: 17px;
  }
}