.saved-news-header {
  max-width: 1440px;
  background-color: #F5F6F7;
  padding: 374px 0 0 0;
}

.saved__title {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
}

.saved__header {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
}

.saved__words {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}

.saved__bold {
  font-weight: 700;
}