.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../images/WhiteonBlack.png);
  position: relative;
  width: 1440px;
  height: 576px;
  left: 0px;
  top: 0px;

}

.main__title {
  color: gray;
  font-size: 80px;
}

.main__button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}