.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

/* .main__title {
  color: gray;
} */
.main__button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  background-color: transparent;
  color: #ffffff;
  /* Add this line to make the text color white */
}

.main__createdbyben {
  width: 1440px;
  /* height: 576px; */
  object-fit: fill;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}