.about {
  max-width: 1440px;
  padding: 104px 80px 80px 80px;
  display: flex;
  margin: 0;
}

.about__image-wrapper {
  width: 464px;
  height: 464px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #1A1B22;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  margin: 0;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.about__image {
  width: 100%;
  height: 100%;
  display: block;
  object-position: center;
  object-fit: fill;
}

.about__text-container {
  padding: 75px 20px 20px 50px;
  font-weight: 400;
  color: #1a1b22;
  width: 600px;
  color: #1A1B22;
  font-size: 18px;
  font-family: 'Roboto', 'Arial', sans-serif;
  line-height: 24px;
  display: flex;
  width: 600px;
  flex-direction: column;
}

.about__title {
  font-family: 'Roboto Slab', 'Arial', sans-serif;
  font-weight: 400;
  margin: 0;
  color: var(--main-primary, #1A1B22);
  font-size: 40px;
  line-height: 46px;
}

.about__text {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #1A1B22;
}


@media screen and (min-width: 768px) and (max-width: 1439px) {
  .about {
    padding: 57px 0px 20px 30px;
    display: flex;

  }


  .about__image-container {
    padding: 0px 32px 0px 0px;

  }

  .about__image-wrapper {
    width: 232px;
    height: 232px;
  }

  .about__image {
    width: 100%;
    height: 100%;
    display: block;
    object-position: center;
    object-fit: fill;
  }

  .about__title {
    color: var(--main-primary, #1A1B22);
    font-family: Roboto Slab;
    line-height: 40px;
    font-size: 30px;
    display: flex;
    width: 424px;
    height: 34px;
    flex-direction: column;
  }

  .about__text {
    display: flex;
    width: 424px;
    flex-direction: column;
    font-size: 18px;
    color: #1A1B22;
    font-family: Roboto;
    line-height: 24px;
  }

  .about__text-container {
    width: 424px;
    padding: 0;
  }
}


@media screen and (min-width: 320px) and (max-width: 767px) {
  .about {
    flex-direction: column;
    align-items: center;
    padding: 40px 80px 80px 80px;
  }

  .about__image-wrapper {
    width: 262px;
    height: 262px;
  }

  .about__image {
    width: 100%;
    height: 100%;
    display: block;
    object-position: center;
    object-fit: fill;
  }

  .about__text-container {
    width: 288px;
    height: 240px;
    padding: 13px 0 0 12px;

  }

  .about__title {
    font-size: 30px;
    width: 288px;
    height: 40px;
  }

  .about__text {

    margin-right: 20px;
  }
}