/* Block: about */
.about {
  max-width: 1440px;
  display: flex;
  margin: 80px 0 0 0;
  padding: 0 50px;
}

/* Element: about__image */
.about__image {
  width: 464px;
  height: 464px;
  margin: 0 56px 0 0;
  border-radius: 1000px;
  border: 5px solid #1A1B22;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

/* Element: about__text-container */
.about__text-container {
  width: 600px;
  margin: 50px 0 0 56px;
}

/* Element: about__title */
.about__title {
  width: 600px;
  height: 46px;
  margin: 51px 0 24px 56px;
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  font-weight: normal;
  text-align: left;
  color: #1A1B22;
  transform: skew(-5deg);
}

/* Element: about__text */
.about__text {
  width: 600px;
  height: 120px;
  margin: 24px 0 223px 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.33;
  text-align: left;
  color: #1A1B22;
}

/* Modifier: about--tablet */
@media (min-width: 320px) and (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
  }

  .about__image {
    width: 300px;
    height: 300px;
    border-radius: 150px;
  }

  .about__text-container {
    width: 100%;
    margin: 30px 0 0 0;
    text-align: center;
  }

  .about__title,
  .about__text {
    width: 80%;
    margin: 0 auto;
  }
}

/* Modifier: about--mobile */
@media (max-width: 320px) {
  .about__image {
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }

  .about__text-container {
    margin: 20px 0 0 0;
  }

  .about__title {
    font-size: 32px;
    line-height: 38px;
  }

  .about__text {
    font-size: 16px;
    line-height: 22px;
  }
}