.navigation {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #333;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*  background-color: #333; */

}

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;

}

.navigation__item {
  list-style: none;
  margin: 0;
  padding: 0;

}

.navigation__link {
  color: gray;
  text-decoration: underline;
  font-size: 20px;
}

.navigation__link:hover {
  text-decoration: underline;
  color: cyan;

}

.navigation__home-icon {
  width: 49px;
  height: 24px;
  margin-right: 5px;

}

.navigation__logo {
  height: 24px;
  width: auto;


}