.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: black !important;
}

.header__title {
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
}

.header__logo {

  background-color: #333;
}