.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black !important;
}

.header__title {
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
}

.header__logo {
  background-color: #333;
}

/* .main__button {
  width: 176px;
  height: 48px;
  position: absolute;
  top: 23.75%;
  bottom: 16.25%;
  left: 80.56%;
  right: 7.22%;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  /* You may want to specify the button text color */