/* Block: header */
.header {
  max-width: 1440px;
  height: 567px;
  flex-grow: 0;
  padding: 0 0 80px;
  color: white;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('../images/bawphone.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}


/* Modifier: header--tablet */
@media (min-width: 320px) and (max-width: 768px) {
  .header {
    max-width: 768px;

  }

  .header__title {
    font-size: 40px;
  }

  .header__button {
    width: 150px;
    height: 40px;
  }
}

/* Modifier: header--mobile */
@media (max-width: 320px) {
  .header {
    max-width: 320px;

  }

  .header__title {
    font-size: 24px;
  }

  .header__button {
    width: 120px;
    height: 30px;
  }
}