.footer {
  max-width: 1440px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  color: white;
  transition: opacity 0.3s ease;
}

.footer__copyright,
.footer__email {
  margin: 32px 0 26px 106px;
  font-weight: 400;
  font-size: 16px;
  /*  line-height: 1.375em; */
  padding-top: 10px;
  color: black;
}

.footer__links {
  margin: 40px 77px 25px 0;
  display: flex;
  gap: 35px;
}

.footer__home-icon,
.footer__icon {
  border-radius: 5px;
  height: 30px;
  background-color: white;

}

.footer__practicum-icon {
  background-color: white;
  border-radius: 9px;

  height: 25px;

}

.footer__home-icon:hover,
.footer__icon:hover,
.footer__practicum-icon:hover {
  opacity: 0.7;
}

.footer__button {
  border-radius: 10px;
  border: none;
  padding: 0;
  height: fit-content;
  background-color: transparent;
}

.footer__email:hover {
  color: #0056b3;
}

.footer__practicum-icon {
  align-self: center;
  margin-top: 5px;
}

.footer__api-button:hover {
  opacity: 0.7;
}