.news-card__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 80px 0;
}

.news-card__title {
  font-family: "Roboto Slab", sans-serif;
  font-size: 40px;
  line-height: 1.15em;
  font-weight: 400;
  color: #1a1b22;
  margin-bottom: 64px;
}