 .page {
   max-width: 1440px;
   background-color: white;
   margin: 0 auto;

 }



 @media only screen and (min-width: 320px) and (max-width: 767px) {
   .page {
     width: 100%;
     margin: 0 auto;
   }
 }