.page {
  background-color: cyan;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page__wrapper {
  max-width: 90%;
  /* adjust this as needed */
  margin: 0 auto;
}