.news-card {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 19px;
  width: 400px;
  height: 576px;
  background: center no-repeat;
  background-color: #fff;
  background-size: 328px;
  display: flex;
  flex-direction: column;
}

.news-card__container {
  position: relative;
  width: 100%;
  overflow: auto;
}

.news-card__image {
  width: 100%;
  height: 272px;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  object-fit: cover;
}

.news-card__date {
  width: 134px;
  height: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #b6bcbf;
  margin-left: 24px;
}

.news-card__title {
  width: 100%;
  max-width: 352px;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  font-weight: 400;
  color: #1a1b22;
  margin-left: 24px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.news-card__description {
  width: 100%;
  max-width: 352px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #1a1b22;
  margin-left: 24px;
}

.news-card__source {
  width: 192px;
  height: 20px;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 700;
  color: #b6bcbf;
  margin-left: 24px;
}

.news-card__book,
.news-card__delete {
  position: absolute;
  top: 24px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 8px;
  padding: 0;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}

.news-card__book {
  right: 70px;
  background-image: url(../images/bookmark.png);
  filter: grayscale(100%);
}

.news-card__book:hover {
  filter: grayscale(0%);
}

.news-card__book-clicked {
  filter: grayscale(0%);
}

.news-card__delete {
  right: 24px;
  background-image: url(../images/trash.png);
}

.news-card__delete:hover {
  cursor: pointer;
}