.news-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 19px;
  width: 400px;
  background: center no-repeat;
  background-color: #fff;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;



  @media screen and (max-width: 767px) {
    width: 288px;
  }

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    width: 266px;
  }
}

.news-card:hover {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.news-card__link {
  display: block;
  position: relative;
  width: 100%;
  cursor: pointer;
}

.news-card__image {
  width: calc(100% + 32px);
  height: 100%;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  object-fit: cover;
  cursor: pointer;
  width: 400px;


}

.news-card__date {
  font-size: 18px;
  color: #b6bcbf;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33em;
  margin: 20px 0 0 24px;
  cursor: pointer;
}

.news-card__title {
  max-width: 352px;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  font-weight: 400;
  color: #1a1b22;
  cursor: pointer;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  padding: 0 12px 0 12px;
  word-wrap: break-word;
  hyphens: auto;

}

.news-card__description {
  max-width: 352px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #1a1b22;
  cursor: pointer;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 16px 24px 0 24px;
  word-wrap: break-word;
  hyphens: auto;

}

.news-card__source {
  width: 192px;
  height: 20px;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 700;
  color: #b6bcbf;
  margin-left: 24px;
  cursor: pointer;
  visibility: visible;
}

.news-card__save {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  padding: 0;
  border: none;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/bookmark.png);
  filter: grayscale(100%);
  cursor: pointer;
}

.news-card__delete {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  padding: 0;
  border: none;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/trash.png);
  cursor: pointer;
}

.news-card__save:hover {
  filter: grayscale(0%);
  width: 40px;
  height: 40px;
  background-image: url(../images/bookmarkHover.svg);
  cursor: pointer;
}

.news-card__delete:hover {
  background-image: url(../images/trashFilled.svg);
  cursor: pointer;
}

.news-card__save-clicked {
  filter: grayscale(100%);
  background-image: url(../images/filledBookmark.svg);
  cursor: pointer;
}

.news-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  background-color: #F5F6F7;
  padding-top: 80px;
  padding-bottom: 80px;

}


.news-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}


/* @media screen and (max-width: 1440px) {
    {}
} */

@media screen and (max-width: 1439px) {
  .news-card {
    width: 224px;
  }

  .news-card__image {
    width: 224px;
  }


  .news-card__title {
    max-width: 191px;
    margin: 12px 15px 0 15px;
    font-size: 22px;
    line-height: 23px;
  }

  .news-card__description {
    margin: 10px 16px 0 16px;
    font-size: 16px;
    line-height: 1.5em;
    width: 192px;
  }
}

@media screen and (max-width: 767px) {
  .news-card {
    width: 288px;
  }

  .news-card__image {
    width: 288px;
  }

  .news-card-container {
    grid-template-columns: repeat(1, 1fr);

  }

  .news-card__title {
    max-width: 256px;
    margin: 12px 15px 0 15px;
    font-size: 22px;
    line-height: 24px;
  }

  .news-card__description {
    font-size: 16px;
    width: 192px;
  }
}

@media screen and (max-width: 320px) {
  .news-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}