.news-card {
  padding: 0 16px;
  /* Added padding on left and right */
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 19px;
  width: 400px;
  height: 576px;
  background: center no-repeat;
  background-color: #fff;
  background-size: 328px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  margin-bottom: 16px;
  overflow: hidden;
  cursor: pointer;
}

.news-card:hover {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.news-card__link {
  display: block;
  position: relative;
  width: 100%;
  cursor: pointer;
}

.news-card__image {
  width: calc(100% + 32px);
  height: 100%;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  object-fit: cover;
  cursor: pointer;
  margin-left: -16px;
  /* Adjusted position to fit into the card layout */
}

.news-card__date {
  width: 134px;
  height: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #b6bcbf;
  margin-left: 24px;
  cursor: pointer;
}

.news-card__title {
  width: 100%;
  max-width: 352px;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  font-weight: 400;
  color: #1a1b22;
  margin-left: 24px;
  margin-top: 14px;
  margin-bottom: 14px;
  cursor: pointer;
}

.news-card__description {
  width: 100%;
  max-width: 352px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #1a1b22;
  margin-left: 24px;
  cursor: pointer;
}

.news-card__source {
  width: 192px;
  height: 20px;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 700;
  color: #b6bcbf;
  margin-left: 24px;
  cursor: pointer;
  visibility: visible;
  /* Ensured visibility */
}

.news-card__save {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  padding: 0;
  border: none;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/bookmark.png);
  filter: grayscale(100%);
  cursor: pointer;
}



/* .news-card__save-clicked {
  filter: grayscale(100%);
  background-image: url(../images/bookmark.png);
  cursor: pointer;
} */

.news-card__delete {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  padding: 0;
  border: none;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/trash.png);
  cursor: pointer;
}

/* .news-card__delete:hover {
  background-image: url(../images/trash.png);
  cursor: pointer;
} */


.news-card__save:hover {
  filter: grayscale(0%);
  width: 40px;
  height: 40px;
  background-image: url(../images/bookmarkHover.svg);
  cursor: pointer;
}

.news-card__delete:hover {
  background-image: url(../images/trashFilled.svg);
  cursor: pointer;
}

.news-card__save-clicked {
  filter: grayscale(100%);
  background-image: url(../images/filledBookmark.svg);
  cursor: pointer;
}